body{
  background-color:#00000a;
  background-image: url("images/2.jpg");
  background-size: contain;
  background-repeat: repeat-y;
}

img{
  border-style: groove;
  border-width: 10pt;
  border-color: green grey orange brown
}

h2,h1 {
  color:orange;
}

a{
  color:yellow;
}

p{
  font-size:10pt;
  color:white;
  font-family:Arial,Helvetica,sans-serif;
}
